<!DOCTYPE html>
<html lang="en">

<head>
  <title>SkipTheCooking</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Style Sheets -->
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/all-products.css" type="text/css" />
  <link rel="stylesheet" href="/styles/shopping-cart.css" type="text/css" />

  <!-- Scripts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/5951c80bc7.js" crossorigin="anonymous"></script>


</head>

<!--  NAVBAR  -->
<nav id="navbar" class="navbar navbar-default navbar-fixed-top">

  <header class="navbar-brand" href="#">SkipTheCooking </header>
  <div>

    <i class="button fad fa-shopping-cart"></i>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="
    #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fad fa-hamburger"></i>
    </button>
    <div class="total navTotal">
      TOTAL $
      <em class="cart-total"></em>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <form action="/login/1" method="get">
        <button id="login-submit" type="submit">Login</button>
      </form>
    </div>
  </div>

</nav>

<!--  START BODY------------------->

<body>
  <main class='container'>

    <!-- LEFT -->

    <div class="container-fluid lb left-sidebar">
    </div>

    <!-- LEFT -->

    <div class="container-fluid left-sidebar">
    </div>

    <div class="container-fluid main-div">
      <h1><i class="fad fa-pie"></i>s & <i class="fad fa-french-fries"></i>s</h1>
      <section class="product-container">
        <!-- New products will populate here -->
      </section>
    </div>


    <!-- RIGHT -->
    <div class="container-fluid right-sidebar rb">


      <div class="shopping-cart">
        <div class="shopping-cart-header">
          <!-- <i class="fad fa-shopping-cart"> </i>  -->
          Shopping Cart<a href="/api/cart/clear-cart">Clear Cart</a>

        </div>
        <br>
        <div class="shopping-cart-container">
          <!-- Stuff will go in here -->
          <%
          cart.forEach((element) => {  %>
          <article class="order">
            <div class="item">
              <h6><%= products[element - 1].item_name %></h6>
              <h6><i class="fad fa-dollar-sign"></i><%= products[element -1 ].price %></h6>
            </div>
          </article>
          <% }); %>

        </div>
        <span class="divider"></span>
        <div class="total">
          <p> TOTAL $
            <div class="cart-total"><%= calcTotal %></div>
          </p>
        </div>
        <!-- END Dyanamic Cart -->
        <form action='/api/cart/checkout' method="post">
          <button type="submit" id="buy" class="checkout btn btn-secondary btn-block"><i
              class="fad fa-cash-register"></i>
            CHECKOUT</button>

          <div class="form-check notify">

            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <i class="fad fa-bell"></i>
            <label class="form-check-label" for="defaultCheck1">
              NOTIFY ME
            </label>

          </div>
          <div><input id='phoneNumber' name="pn" class="phoneInput" type="text" placeholder="10 Digit Phone Number"></i>
          </div>
      </div>
      </form>
    </div>

  </main>
  <!-- Scripts -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/shopping-cart.js"></script>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


</body>


</html>
