$navbartextcolor: #F4EEB0;
$navbarbackground: #446279;

nav {
  background-color: $navbarbackground;
  color: $navbartextcolor;
}

#login-submit {
  background-color: $navbartextcolor;
  font-family: inherit;
  border-radius: 8px;
  color: $navbarbackground;
  width: 5em;
  height: 2.75em;
  &:hover {
    transform: translateY(2.5px);
  }
}

.navbar-toggler-icon {
  color: $navbartextcolor;
  background-color: $navbartextcolor;
}
